QHeaderView::section
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                    stop:0 #616161, stop: 0.5 #505050,
                                     stop: 0.6 #434343, stop:1 #656565);

    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    font:12pt 'Times New Roman'
}

QHeaderView::section:checked
{
    background-color: blue;
}

QTabWidget::pane{
        border:none;
}
QTabWidget::tab-bar{
        alignment:left;
}
QTabBar::tab{
        background:white;
        color:black;

        min-width:15ex;
        min-height:5ex;
        border: 1px solid #C4C4C3

}
QTabBar::tab:hover{
        background:rgb(255, 255, 255, 100);
}
QTabBar::tab:selected{
        border-color: white;
        background:green;
        color:white;

}

QTabBar::tab:!selected{
        border-color: blue;
        background:white;
        color:black;

}

QTreeView::item {
     height:20px
}

QTreeView
{
  font:12px 'Times New Roman'
}



