QHeaderView::section
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                    stop:0 #616161, stop: 0.5 #505050,
                                     stop: 0.6 #434343, stop:1 #656565);

    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    font:11pt 'Times New Roman'
}



QTableView
{
  alternate-background-color:lightGray;

}

QHeaderView::section:checked
{
    background-color: blue;
}

QTabWidget::pane{
        border:none;
}
QTabWidget::tab-bar{
        alignment:left;
}
QTabBar::tab{
        background:white;
        color:black;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        min-width:15ex;/*linux系统为15*/
        min-height:5ex;/*linux系统为5*/
        border: 2px solid #C4C4C3

}
QTabBar::tab:hover{
        background:rgb(255, 255, 255, 100);
}
QTabBar::tab:selected{
        border-color: white;
        background:green;
        color:white;

}

QTabBar::tab:!selected{
        border-color: blue;
        background:white;
        color:black;

}
QTabBar
{
  font:14pt 'Times New Roman'
}

QTreeView::item {
     height:20px
}

QTreeView
{
  font:11pt 'Times New Roman'
}

QScrollBar:horizontal {
      border: 2px solid gray;
      background: #32CC99;
      height: 15px;
      margin: 0px 20px 0 20px;
  }
  QScrollBar::handle:horizontal {
      background:green;
      min-width: 20px;
  }
  QScrollBar::add-line:horizontal {
      border: 2px solid gray;
      background: cyan;
      width: 20px;
      subcontrol-position: right;
      subcontrol-origin: margin;
  }

  QScrollBar::sub-line:horizontal {
      border: 2px solid gray;
      background: magenta;
      width: 20px;
      subcontrol-position: left;
      subcontrol-origin: margin;
  }


QScrollBar:left-arrow:horizontal
{
   width: 8px;
   height: 8px;
   border-image:url(:/images/left.png);

}
QScrollBar::right-arrow:horizontal {
   width: 8px;
   height: 8px;
   border-image:url(:/images/right.png);
  }

  QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
      background: none;
  }



QScrollBar:vertical {
     border: 2px solid gray;
     background: #32CC99;
     width: 15px;
     margin: 22px 0 22px 0;
 }
 QScrollBar::handle:vertical {
     background: green;
     min-height: 20px;
 }
 QScrollBar::add-line:vertical {
     border: 2px solid gray;
     background: cyan;
     height: 20px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     border: 2px solid gray;
     background:magenta;
     height: 20px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }

QScrollBar::up-arrow:vertical {
    /*border: 2px solid gray;*/
    width: 8px;
    height: 8px;
    border-image:url(:/images/up.png);
}

QScrollBar::down-arrow:vertical
{
  width: 8px;
  height: 8px;
  border-image:url(:/images/down.png);
}
 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
